

nav{
    display: flex;
    justify-content:space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 12px 0;
}

.logo-container{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-family: "Arimo", sans-serif;
}

ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
    gap: 10px;
    list-style-type: none;
    align-items: center;
    font-size: 12px;
    font-family: "Inter", sans-serif;
    color: #575757;
}

.common-button{
    background-color: #164ee9;
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none; 
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
}

a{
    text-decoration: none;
}

.nav-button {
    margin-left: 10px;
    align-self: center;
}
.hero-section{
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 0;
}
.hero-image{
    width: 100%;
    align-content: cover; 
}